@import './base.css';

body {
    font-size: 15px;
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 460px;
}

.searchContainer {
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.searchInput {
    margin: 0;
    border: 3px solid #ccc;
    padding: 12px 20px;
    transition: 0.5s;
    font-size: 25px;
    color: #555;
    width: 460px;
}

.searchInput:focus {
    outline: none;
    border: 3px solid #555;
}

.inputContainer {
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todoInput {
    margin: 0;
    border: 3px solid #ccc;
    padding: 12px 20px;
    transition: 0.5s;
    font-size: 25px;
    color: #555;
}

.todoInput:focus {
    outline: none;
    border: 3px solid #555;
}

.addButton {
    margin: 0;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.addButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.addButton:disabled {
    color: #706d6d;
    cursor: default;
}

.addButton:disabled:hover {
    box-shadow: none;
}

.listContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.todoItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px 20px;
    background-color: #2ec4b6;
    width: 460px;
    margin: 6px 0;
    border-radius: 5px;
}

.buttonSection {
    margin-left: auto;
}

.deleteButton {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    font-size: 14px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.deleteButton:hover {
    background-color: red;
}

.todoTitle {
    font-size: 20px;
    line-height: 36px;
}

.crossed {
    text-decoration: line-through;
}